<!-- website/index.html -->

{% extends "website/lay/main.html" %}
{% load static %}

{% block content %}

<section class="ftco-section-no-padding bg-light">
    
    <div class="hero-wrap">

        <div class="overlay"></div>
        
        <div class="d-flex align-items-center js-fullheight">            
            <div class="author-image text img d-flex">
                <section class="home-slider js-fullheight owl-carousel">
                    <div class="slider-item js-fullheight" style="background-image: url({% static 'photoweb/images/author.jpg' %});"></div>
                    <div class="slider-item js-fullheight" style="background-image:url({% static 'photoweb/images/author-2.jpg' %});"></div>
                </section>
            </div>

            <div class="author-info text p-3 p-md-5">
                <div class="desc">
                    <span class="subheading">{{ keys.author.greeting }}</span>
                    <h1 class="big-letter">{{ keys.author.name }}</h1>
                    <h1 class="mb-4">{{ keys.author.desc1 | safe }}</h1>
                    <p class="mb-4">{{ keys.author.desc2 }}</p>
                    <h3 class="signature h1">{{ keys.author.name }}</h3>
                    <ul class="ftco-social mt-3">
                      <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>

{% include "website/inc/follow.html" %}     

{% include "website/inc/footer.html" %}

{% endblock %}

<!-- website/index.html -->